/* BASE */

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Vollkorn:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  justify-content: center;
  /* position: relative; */
  align-items: center;
  border-radius: 50%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 3.87);
  background-color: #242424;
  /* background-color: rgba(0, 0, 0); */

  padding: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  /* min-height: 100vh; */
  box-sizing: border-box;
}

/* KEYFRAMES */

.fade-in-out {
  opacity: 0;
  animation: fade-in 1s ease-in forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* CLOCK  */

.calendar-clock {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MONTH CIRCLE */

.months-circle li {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
  /* outline: 1px solid white !important; */
  cursor: pointer;
  color: lightgray;
}

.months-circle li:hover {
  color: white;
}

.months-circle li:first-child {
  -webkit-transform: rotate(0deg) skewY(-60deg);
  -ms-transform: rotate(0deg) skewY(-60deg);
  transform: rotate(0deg) skewY(-60deg);
}
.months-circle li:nth-child(2) {
  -webkit-transform: rotate(30deg) skewY(-60deg);
  -ms-transform: rotate(30deg) skewY(-60deg);
  transform: rotate(30deg) skewY(-60deg);
}
.months-circle li:nth-child(3) {
  -webkit-transform: rotate(60deg) skewY(-60deg);
  -ms-transform: rotate(60deg) skewY(-60deg);
  transform: rotate(60deg) skewY(-60deg);
}
.months-circle li:nth-child(4) {
  -webkit-transform: rotate(90deg) skewY(-60deg);
  -ms-transform: rotate(90deg) skewY(-60deg);
  transform: rotate(90deg) skewY(-60deg);
}
.months-circle li:nth-child(5) {
  -webkit-transform: rotate(120deg) skewY(-60deg);
  -ms-transform: rotate(120deg) skewY(-60deg);
  transform: rotate(120deg) skewY(-60deg);
}
.months-circle li:nth-child(6) {
  -webkit-transform: rotate(150deg) skewY(-60deg);
  -ms-transform: rotate(150deg) skewY(-60deg);
  transform: rotate(150deg) skewY(-60deg);
}
.months-circle li:nth-child(7) {
  -webkit-transform: rotate(180deg) skewY(-60deg);
  -ms-transform: rotate(180deg) skewY(-60deg);
  transform: rotate(180deg) skewY(-60deg);
}
.months-circle li:nth-child(8) {
  -webkit-transform: rotate(210deg) skewY(-60deg);
  -ms-transform: rotate(210deg) skewY(-60deg);
  transform: rotate(210deg) skewY(-60deg);
}
.months-circle li:nth-child(9) {
  -webkit-transform: rotate(240deg) skewY(-60deg);
  -ms-transform: rotate(240deg) skewY(-60deg);
  transform: rotate(240deg) skewY(-60deg);
}
.months-circle li:nth-child(10) {
  -webkit-transform: rotate(270deg) skewY(-60deg);
  -ms-transform: rotate(270deg) skewY(-60deg);
  transform: rotate(270deg) skewY(-60deg);
}
.months-circle li:nth-child(11) {
  -webkit-transform: rotate(300deg) skewY(-60deg);
  -ms-transform: rotate(300deg) skewY(-60deg);
  transform: rotate(300deg) skewY(-60deg);
}
.months-circle li:nth-child(12) {
  -webkit-transform: rotate(330deg) skewY(-60deg);
  -ms-transform: rotate(330deg) skewY(-60deg);
  transform: rotate(330deg) skewY(-60deg);
}

.months-circle-container {
  z-index: 7;
  position: relative;
}

.months-circle {
  position: relative;
  border: 1px solid black;
  padding: 0;
  width: 535px;
  height: 535px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background: rgba(0, 0, 0, 1);
  background-color: #333;
  transform: rotate(210deg);
}

.month {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  text-align: center;
  -webkit-transform: skewY(60deg) rotate(15deg);
  -ms-transform: skewY(60deg) rotate(15deg);
  transform: skewY(60deg) rotate(15deg);
  padding-top: 20px;
  font-family: "Vollkorn", serif;
}

.month:hover {
  /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6); */
  background-color: rgba(255, 255, 255, 0.25);
  /* color: aquamarine; */
}

/* DAYS CIRCLE  */

.days-circle-container {
  display: none;
  z-index: 6;
}

.days-circle {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid white;
  width: 535px;
  height: 535px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
}

.circle {
  position: absolute;
  text-align: center;
  font-family: "Vollkorn", serif;
  border-radius: 50%;
  transition: transform 0.2s ease 0s;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.circle:hover {
  transform: scale(1.2);
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}

.center-image {
  width: 5rem;
  height: 5rem;
  background-color: #cccccc;
  border-radius: 50%;
  /* border-radius: 25%; */
}

/* HOURS CIRCLE */

.hours-circle {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid black;
  background: white;
  background-color: #242424;
  width: 535px;
  height: 535px;
  display: flex;
  justify-content: center;
  z-index: 4;
}

.test-circle {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid black;
  background: white;
  background-color: #242424;
  display: flex;
  justify-content: center;
  z-index: 4;
}

/* ASTRO CIRCLE */

.astro-circle {
  position: absolute;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -65%);
  border-radius: 50%;
  border: 1px solid white;
  width: 650px;
  height: 650px;
  top: 50%;
  left: 50%;
  overflow: hidden;
}

.astro-circle-item {
  position: absolute;
  color: papayawhip;
  text-align: center;
  border-radius: 50%;
  transition: transform 0.2s ease 0s;
  width: 50px;
  height: 50px;
  line-height: 64px;
}

.astro-item-4 {
  transform: rotate(345deg);
}

.astro-item-5 {
  transform: rotate(15deg);
}

.astro-item-6 {
  transform: rotate(45deg);
}

.astro-item-7 {
  transform: rotate(75deg);
}

.astro-item-8 {
  transform: rotate(105deg);
}

.astro-item-9 {
  transform: rotate(135deg);
}

.astro-item-10 {
  transform: rotate(165deg);
}

.astro-item-11 {
  transform: rotate(195deg);
}

.astro-item-12 {
  transform: rotate(255deg);
}

.astro-item-1 {
  transform: rotate(225deg);
}

.astro-item-2 {
  transform: rotate(285deg);
}

.astro-item-3 {
  transform: rotate(315deg);
}

.astro-item-1:hover,
.astro-item-2:hover,
.astro-item-3:hover,
.astro-item-4:hover,
.astro-item-5:hover,
.astro-item-6:hover,
.astro-item-7:hover,
.astro-item-8:hover,
.astro-item-9:hover,
.astro-item-10:hover,
.astro-item-11:hover,
.astro-item-12:hover {
  color: yellow;
}

.divider-1 {
  position: absolute;
  height: 6.5rem;
  top: 2.25rem;
  left: 28.82rem;
  transform: rotate(30deg);
  border-left: 1px solid white;
}

.divider-2 {
  position: absolute;
  height: 9.5rem;
  top: 7.25rem;
  left: 34.67rem;
  transform: rotate(60deg);
  border-left: 1px solid white;
}

.divider-3 {
  position: absolute;
  height: 42.74rem;
  top: 7.25rem;
  left: 34.68rem;
  transform: rotate(120deg);
  border-left: 1px solid white;
}

.divider-4 {
  position: absolute;
  height: 75.74rem;
  top: 7.25rem;
  left: 34.63rem;
  transform: rotate(150deg);
  border-left: 1px solid white;
}

.divider-5 {
  position: absolute;
  height: 47.15rem;
  top: 18.75rem;
  left: 7.59rem;
  transform: rotate(210deg);
  border-left: 1px solid white;
}

.divider-6 {
  position: absolute;
  height: 47.83rem;
  top: 3.75rem;
  left: 7.59rem;
  transform: rotate(240deg);
  border-left: 1px solid white;
}

.divider-7 {
  position: absolute;
  height: 47.83rem;
  top: -11.25rem;
  left: 7rem;
  transform: rotate(300deg);
  border-left: 1px solid white;
}

.divider-8 {
  position: absolute;
  height: 18.83rem;
  top: -11.25rem;
  left: 7.46rem;
  transform: rotate(330deg);
  border-left: 1px solid white;
}

.divider-n {
  position: absolute;
  height: 6.5rem;

  left: 20.255rem;
  transform: rotate(0deg);
  border-left: 1px solid white;
}

.divider-e {
  position: absolute;
  height: 9.9rem;
  top: 15.35rem;
  left: 39.67rem;
  transform: rotate(90deg);
  border-left: 1px solid white;
}

.divider-s {
  position: absolute;
  height: 75.74rem;
  top: 7.25rem;
  left: 20.296rem;
  transform: rotate(180deg);
  border-left: 1px solid white;
}

.divider-w {
  position: absolute;
  height: 47.83rem;
  top: -3.58rem;
  left: 6.59rem;
  transform: rotate(270deg);
  border-left: 1px solid white;
}

/* CARDINAL CIRCLE */

.cardinal-circle {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid white;
  width: 650px;
  height: 650px;
  top: 50%;
  left: 50%;
  overflow: hidden;
}

.cardinals {
  color: darkgrey;
  font-family: "Vollkorn", serif;
  font-weight: bold;
  font-size: 1rem;
}

.cardinal-1,
.cardinal-2,
.cardinal-3,
.cardinal-4 {
  position: absolute;
  color: papayawhip;
  text-align: center;
  border-radius: 50%;
  transition: transform 0.2s ease 0s;
  width: 50px;
  height: 50px;
  line-height: 50px;
  transform: rotate(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardinal-1 {
  top: 0.2rem !important;
}

.cardinal-2 {
  left: 37.25rem !important;
}

.cardinal-3 {
  top: 37.1875rem !important;
}

.cardinal-4 {
  left: 0.2rem !important;
}

.N,
.E,
.S,
.W {
  width: 1.4rem;
  background: black;
  border: 1px solid white;
  height: 1.4rem;
  line-height: 1.4rem;
  font-family: "Vollkorn", serif;
}

.days-circle-container,
.hours-circle-container,
.months-circle-container,
.astro-circle-container {
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.hours-circle .circle {
  background: indianred;

  color: white;
  background-color: rgba(255, 255, 255, 0.5);
}

.hours-circle .circle:hover {
  transform: scale(1.2);
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}

/* HELPERS */

.show {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
}

.show-days {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
}

/* ADD TASK ICON */

.add-task-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4rem;
}

.tabler-icon,
.tabler-icon-plus {
  width: 2.5rem;
  height: 2.5rem;
}
/* LIFE TRACKER  */

.lifetracker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.input-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

svg {
  display: inline;
  vertical-align: 0%;
}

.dob-input {
  text-align: center;
  background-color: black;
}

.years-content,
.months-content,
.weeks-content {
  max-width: 695px;
  margin-bottom: 3rem;
}

.years,
.months,
.weeks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.year-item,
.month-item,
.week-item {
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid white;
  margin: 0.2rem;
}

.month-item {
  border: none;
}

.week-item {
  border: none;
}

.title {
  margin-bottom: 0.2rem;
}

.symbol-btn:visited {
  background-color: red;
}

.inp {
  border: none;
  border-bottom: 1px solid white;
  padding: 23px 84px;
  outline: none;
  background: none;
  color: lightgray;
  text-align: center;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.8s 0.8s ease;
  text-indent: -145%;
  opacity: 1;
}

.task-input {
  position: relative;
}
.task-input-container {
  display: flex;
  justify-content: center;
  height: 20vh;
  align-items: center;
}

.confirm-btn {
  position: absolute;
  /* z-index: 400; */
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  /* border: 1px solid black; */
  top: -31rem;
  left: 8rem;
  border: 1px solid white;
  background: #4d4d4d;
}

.confirm-btn:hover {
  background-color: black;
}
.hide {
  display: none;
}

.hide-input {
  display: none;
}

.show-input {
  display: flex;
}

.middle-z-index {
  z-index: 400;
}

.task-items {
  height: 50rem;
}

ul.triangle {
  margin: auto;
  padding: 0;
  display: block;
  text-align: center;
}

ul.triangle li {
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  width: 200px;
  height: 200px;
}

section.triangle {
  height: 30rem;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.t > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 222px;
  height: 192px;
  overflow: hidden;

  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;

  -ms-transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  transform: skewX(30deg);
}
.t div .triangle {
  position: absolute;
  top: 86px;
  left: -101px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 100px 173.2px 100px;
  border-color: transparent transparent #0079c5 transparent;
  -webkit-backface-visibility: hidden;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  cursor: pointer;

  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;

  -ms-transform: skewX(-30deg) rotate(-60deg);
  -webkit-transform: skewX(-30deg) rotate(-60deg);
  transform: skewX(-30deg) rotate(-60deg);
}
.t div .triangle:hover {
  border-color: transparent transparent #009cff transparent;

  transform: skewX(-30deg) rotate(-60deg) translate(0, 20%);
  -webkit-transform: skewX(-30deg) rotate(-60deg) translate(0, 20%);
  -moz-transform: skewX(-30deg) rotate(-60deg) translate(0, 20%);
}

.t > div:nth-child(1) {
  -ms-transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  transform: skewX(30deg);
}
.t > div:nth-child(2) {
  -ms-transform: rotate(60deg) skewX(30deg);
  -webkit-transform: rotate(60deg) skewX(30deg);
  transform: rotate(60deg) skewX(30deg);
}
.t > div:nth-child(3) {
  -ms-transform: rotate(120deg) skewX(30deg);
  -webkit-transform: rotate(120deg) skewX(30deg);
  transform: rotate(120deg) skewX(30deg);
}
.t > div:nth-child(4) {
  -ms-transform: rotate(-60deg) skewX(30deg);
  -webkit-transform: rotate(-60deg) skewX(30deg);
  transform: rotate(-60deg) skewX(30deg);
}
.t > div:nth-child(5) {
  -ms-transform: rotate(-120deg) skewX(30deg);
  -webkit-transform: rotate(-120deg) skewX(30deg);
  transform: rotate(-120deg) skewX(30deg);
}
.t > div:nth-child(6) {
  -ms-transform: rotate(-180deg) skewX(30deg);
  -webkit-transform: rotate(-180deg) skewX(30deg);
  transform: rotate(-180deg) skewX(30deg);
}

.t {
  position: absolute;
  position: relative;
  top: 20rem;
}

.hex-middle {
  width: 16rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -4rem;
  right: -8rem;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-row {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 7rem;
  min-width: 400px;
}

.task-row:nth-child(2),
.task-row:nth-child(3),
.task-row:nth-child(4) {
  justify-content: flex-start;
}

.task-row:nth-child(4) {
  min-width: 533px;
}

.task-row:nth-child(2) {
  min-width: 265px;
}

.slots-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  width: 100vw;
  height: 100vh;
}

.slot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slot:nth-child(1) {
  grid-area: 1 / 5 / 2 / 9;
  /* background-color: rgba(163, 34, 173, 0.5); */
}

.slot:nth-child(2) {
  grid-area: 2 / 3 / 3 / 7;
  /* background-color: rgba(30, 203, 81, 0.5); */
}

.slot:nth-child(3) {
  grid-area: 2 / 7 / 3 / 11;

  /* background-color: rgba(58, 215, 181, 0.5); */
}

.slot:nth-child(4) {
  grid-area: 3 / 1 / 4 / 5;
  /* background-color: rgba(178, 166, 72, 0.5); */
}

.slot:nth-child(5) {
  grid-area: 3 / 5 / 4 / 9;
  /* background-color: rgba(103, 177, 182, 0.5); */
}

.slot:nth-child(6) {
  grid-area: 3 / 9 / 4 / 13;
  /* background-color: rgba(122, 201, 176, 0.5); */
}

.circle-f {
  display: inline-block;
  height: 8rem;
  width: 8rem;

  background-color: red;
  border-radius: 50%;
}

.box {
  width: 36rem;
  height: 36rem;

  border: 1px solid;
}
.box:before,
.box > div:before {
  content: "";
  float: var(--d, left);
  height: 100%;
  width: 50%;
  shape-outside: linear-gradient(
    to top var(--d, left),
    transparent 50%,
    #fff 0
  );
  /* To illustrate */
  /* background: linear-gradient(to top left, transparent 50%, yellow 0); */
}
.box > div {
  height: 100%;
}
.box > div:before {
  --d: right;
  /* To illustrate */
  /* background: linear-gradient(to top right, transparent 50%, grey 0); */
}
.task-item {
  height: 100px;
}

.tasks-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
}
.task-item-1 {
  margin-left: 200px;
  margin-right: 200px;
}
.task-item-2 {
  margin-left: 150px;
}
.task-item-3 {
  margin-right: 150px;
}
.task-item-4 {
  margin-left: 100px;
}
.task-item-6 {
  margin-right: 100px;
}

.item {
  height: 100px;
}
